* {
    box-sizing: border-box;
}

body {
    /* display: flexbox; */
    background-color: rgb(255, 165, 165);

}

.title {
    text-align: center;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-style: oblique;
    margin-top: -1em;
    margin-left: 30px;
}

.navbar {
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0.2rem;
    /* background-color: rgb(232, 186, 186); */
    font-size: 20px;
    width: 30rem;
    padding: 2px;
    letter-spacing: 1px;
    border-bottom: 2px solid yellow;
}

.nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-transform: capitalize;
    display: inline;
    justify-content: center;
    text-decoration: none;
    padding: 6px;
}

.nav a:hover {
    background-color: #e7da54;
    color: rgb(78, 76, 76);
}


/* main {
    display: flexbox;
    justify-content: center;
    margin-left: 3rem;
} */

#myInput {
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('./icon_search.png');
    background-position: 8px 6px;
    background-repeat: no-repeat;
    width: 20rem;
    font-size: 14px;
    padding: 12px 10px 12px 45px;
    border: 1px solid #e7da54;
    /* border: 1px solid #ddd; */
    margin-bottom: 12px;
}


table {
    margin-left: 10rem;
}

table,
th,
td {
    border: 1px solid #e7da54;
    padding: 10px;
    width: 60rem;
}

th {
    text-transform: uppercase;
}

.clickable:hover {
    color: #f919ba;
    cursor: pointer;
}


table caption {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

form {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.form-group label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 6px;
    font-size: 14px;
}

.submit-button {
    cursor: pointer;
}


.footer {

    margin: 40px auto 10px 10px;

}